.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #111;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    transition: opacity 0.5s ease-out;
}

.loading-container {
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 20px 2px 20px;
    user-select: none;
}

.loading-text-base {
    color: #aaa;
}

.loading-progress-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    overflow: hidden;
    background-color: #95ff02;
    transition: width 0.3s ease-out;
}

.loading-text-overlay {
    color: #000;
    position: absolute;
    top: 0px;
    left: 20px;
    white-space: nowrap;
}
